@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .footerLink {
    @apply text-xl hover:text-yellow-600 cursor-pointer hover:scale-110;
  }
  body {
    @apply bg-slate-100;
  }
}

@font-face {
  font-family: Egypt;
  src: url(../../../../public/fonts/Comforter-Regular.ttf);
}
.logoFont {
  font-family: "Egypt";
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }
}
