@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .footerLink {
    @apply text-xl hover:text-[#be853f] cursor-pointer hover:scale-110;
  }
  body {
    @apply bg-slate-100 scrollbar scrollbar-thumb-[#be853f] scrollbar-track-white;
  }
}

@font-face {
  font-family: Egypt;
  src: url(../../../../public/fonts/Comforter-Regular.ttf);
}
@font-face {
  font-family: Header;
  src: url(../../../../public/fonts/Belanosima-SemiBold.ttf);
}
.headerFont {
  font-family: "Header";
}
.logoFont {
  font-family: "Egypt";
}

/* .rotate-none {
  transform: none !important;
} */

input {
  --tw-ring-color: "transparent" !important;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #be853f;
    border: 3px solid #f7f4ed;
    border-radius: 100vh;
  }
}
