.AppBar{
    
    background-color: black;
    border-bottom: .75px solid #fde583;
}
.Container{
    height: 60px;
}
.Logo {
    max-height: 60px;
    width: 150px !important;
}
.NavLink{
    text-decoration: none;
    color:#fde583;
    font-weight: bolder;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.NavLinkActive{
    color: #fde583;
    border: 1px solid #fde583;
    text-decoration: none;
    font-weight: bolder;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width:768px) {
    .Logo {
        height: 80px !important;
    }
}